<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title></title>

{% load static %}
<link rel="stylesheet" href="{% static 'baseapp/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
<link rel="stylesheet" href="{% static 'baseapp/css/bootstrap.min.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-2">
        <p>Hello! {{ request.session.first_name }}</p>
        </div>
    <div class="col-sm-8"></div>
    <div class="col-sm-2">
        <p><a href="{% url 'baseapp:show' %}">Home</a> | <a href='{% url 'user:logout' %}'>LOGOUT</a></p>
     </div>
   </div>
</div><!-- end container -->

<!-- Errors  - - - - - - - - - -  -->
<!--Show All Errors -->
{% if messages %}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
     <div class="table-responsive">
        <table class='table table-striped table-bordered table-hover'>
            <h3>Errors</h3>
         {% for message in messages %}
          <tr class='danger'>
               <td>{{ message }}</td>
          </tr>
            {% endfor %}
        </table>
     </div>
   </div>
</div>
{% endif %}
<!-- END Show All Errors -->

<!-- Errors  - - - - - - - - - -  -->
{% if errors %}
<div class="row">
   <div class="col-sm-2"></div>
  <div class="col-sm-8 rounded-error">
     <div class="table-responsive">
      <table class='table table-striped table-bordered table-hover'>
         <h3>Errors</h3>
        {% for key, value in errors.items %}
        <tr class='danger'>
            <td>{{ value }}</td>
        </tr>
         {% endfor %}
      </table>
      </div>
   </div>
</div>
{% endif %}
<!-- END Show All Errors -->
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

{% load static %}
<script src="{% static 'baseapp/js/adapter.js' %}"></script>


</body>
</html>
